<div id="<%= dom_id book %>">
  <img src="<%= (url_for(book.image)) %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.isbn %>
  </p>

  <p>
    <strong>AccNo:</strong>
    <%= book.accno %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= book.pages %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= book.info %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= book.subject %>
  </p>



</div>
