<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @book %>">
  <div class="row">
    <div class="col-md-4">
      <% if @book.image.attached? %>
        <img src="<%= (url_for(@book.image)) %>">
      <% end %>
    </div>
    <div class="p-5 col-md-8">
          <h2><%= @book.title %></h2>
        <p>
          <strong>Author:</strong>
          <%= @book.author %>
        </p>

        <p>
          <strong>Isbn:</strong>
          <%= @book.isbn %>
        </p>

        <p>
          <strong>AccNo:</strong>
          <%= @book.accno %>
        </p>

        <p>
          <strong>Pages:</strong>
          <%= @book.pages %>
        </p>

        <p>
          <strong>Info:</strong>
          <%= simple_format(@book.info) %>
        </p>

        <p>
          <strong>Subject:</strong>
          <%= @book.subject %>
        </p>
      </div>
    </div>

</div>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
