<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Edit this category", edit_category_path(@category) %> |
  <%= link_to "Back to categories", categories_path %>

  <%= button_to "Destroy this category", @category, class: "btn btn-primary mt-4", method: :delete %>
</div>
<div class="row">
  <div class="col-md-12">
    <h4 class="mt-4">Books on <%= @category.name %></h4>

      <% @books_category.each do |book| %>
        <%= book.title %>
      <% end %>

  </div>
</div>
